<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LZCartViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9148CA611CEBFC8B0054A40A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9148CA7A1CEBFC8C0054A40A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9148CA851CEBFC8C0054A40A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
